body{
  width:1024px;
  margin:0 auto;
  font-family:"微软雅黑";
}
.code{
  background-color: #F0F8FF;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  height:300px;
  width:100%;
  overflow-y:scroll;
}
.code .code-content{
  height:100%;
  width:100%;
}
.data-source .data{
  width:100%;
  height:120px;
}

/*按钮*/
.btn{
  display: inline-block;
  height: 33px;
  width: auto;
  line-height: 33px;
  border-radius: 3px;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
  margin: auto 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
}
.btn:hover{
  cursor: pointer;
}
.btn i[class^="icon"]{
  padding-right: 5px;
}
.btn.btn-gray{
  border:1px solid #C4C4C4;
  color: white;
  background: #C4C4C4;
}
.btn.btn-gray:hover {
  background: #ababab;
  border: 1px solid #ababab;
  box-shadow: 0 0 3px #ababab;
}

.btn.btn-red{
  color: white;
  background: #F4756E;
  border:1px solid #F4756E;
}
.btn.btn-red:hover {
  background: #f0483f;
  border: 1px solid #f0483f;
  box-shadow: 0 0 3px #f0483f;
}
.btn.btn-blue{
  color: white;
  background: #1194E7;
  border:1px solid #1194E7;
}
.btn.btn-blue:hover {
  background: #0e76b7;
  border: 1px solid #0e76b7;
  box-shadow: 0 0 3px #0e76b7;
}





.data-source ul {
  list-style: none;
  padding: 0;
}
.data-source ul *{
  box-sizing: border-box;
}
.data-source ul li {
  width: 100%;
  height: 140px;
  margin-top: 6px;
  position: relative;
  padding:10px 0;
  box-sizing: border;
}

.data-source ul li .tab-title {
  color: #333333;
  font-size: 12px;
  width: 100%;
  height: 35px;
  display: inline-block;
  border-left: 4px solid #1194e7;
}
.data-source ul li .tab-content {
  height: 100px;
  width: 100%;
}
.data-source ul li .tab-content textarea {
  width: 100%;
  height: 100%;
  border-left: 4px solid #1194e7;
}
.data-source ul li.active {
  background-color: white;
  border-bottom: 4px solid #1194e7;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
}
.data-source ul li.active a {
  border: none;
}
